@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.conteiner{
    display: grid;
    grid-template-rows: 2fr 1fr 4fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    height: 100vh;
    width: 100vw;
    border: 5px solid black;
}
.itemT{
    background-color: rgba(255, 255, 0, 0.445);
    color: rgba(0, 0, 255, 0.904);
    text-align: center;
    grid-row: 1 / 1;
    grid-column: 1 / 4;
    border: 1px solid black;
}
.itemM{
    background-color: rgba(255, 255, 0, 0.445);
    color: rgba(0, 0, 255, 0.904);
    text-align: center;
    grid-row: 2 / 3;
    grid-column:  1 / 4;
    border: 1px solid black;
}
.itemP{
    background-color: rgba(255, 255, 0, 0.445);
    color: rgba(0, 0, 255, 0.904);
    text-align: center;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    border: 1px solid black;
}.itemS{
    background-color: rgba(255, 255, 0, 0.445);
    color: rgba(0, 0, 255, 0.904);
    text-align: center;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    border: 1px solid black;
}.itemR{
    background-color: rgba(255, 255, 0, 0.445);
    color: rgba(0, 0, 255, 0.904);
    text-align: center;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    border: 1px solid black;
}